/* Content Load Animation - Fade in + Zoom in */
@keyframes content-load{
  from{
    opacity: 0;
    transform: scale(0);
  }to{
    opacity: 0.9;
    transform: scale(1);
  }
}

/* Submitted Message Animation */
@keyframes submit-message-show{
  from{
    opacity: 0;
  }to{
    opacity: 1;
  }
}
