/*
-----------------------------------------------
Content - Main Tags
-----------------------------------------------
*/

html {
  /* Show a Y scroll bar always to avoid navigation bar flikr */
  overflow: scroll;
  overflow-x: hidden;
}

body {
  /* Background image and custom font */
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/*
-----------------------------------------------
Content - Classes
-----------------------------------------------
*/

.small-icon {
  /* Icons color and margin */
  margin: 10px;
  color: #103f54;
}

.submit-text {
  /* Submit Text */
  display: none;
  opacity: 0.9;
  animation-name: submit-message-show;
  animation-duration: 0.5s;
  animation-iteration-count: 3;
  animation-direction: alternate;
}

.submit_text {
  /* Submit text */
  display: none;
  animation-name: submit-message-show;
  animation-duration: 0.5s;
  animation-iteration-count: 3;
  animation-direction: alternate;
}

.card {
  padding: 20px;
  margin: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.btn-primary {
  background-color: #103f54;
}

a .btn{
  width: 100%;
  margin-top: 10px;
}

/*
-----------------------------------------------
Content - ids
-----------------------------------------------
*/

#home_content, #addevent_content, #about_content {
  /* All content areas */
  /* Bottom margin to stop content from being hidden by footer */
  margin-bottom: 100px;
  /* Add content load animation */
  opacity: 0.9;
  animation-name: content-load;
  animation-duration: 1s;
}

#logo_img {
  /* About page logo */
  width: 50%;
  margin: 5%;
}

#invalid_text {
  color: #b71c1c;
}

#valid_text {
  color: #33691E;
}

/*
-----------------------------------------------
Navigation bar
-----------------------------------------------
*/

.navbar {
  /* Navigationbar main properties */
  background-color: #103f54;
}

.navbar-nav .active {
  /* Navigationbar links - active */
  background-color: #fff !important;
  color: #b71c1c !important;
}

.nav-link {
  /* Navigationbar links */
  transition: background-color 0.3s ease-in;
}

.nav-link:hover {
  /* Navigationbar links - hover */
  background-color: #fff !important;
  color: #103f54 !important;
}

.navbar-brand {
  /* Navigationbar brand */
  font-size: 2em !important;
}

/*
-----------------------------------------------
Footer
-----------------------------------------------
*/

#footer {
  background-color: #103f54;
  color: #fff;
}
