/*
-----------------------------------------------
Content
-----------------------------------------------
*/

html {
    overflow: scroll;
    overflow-x: hidden;
}

body{
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

h2 {
  font-weight: bolder;
}

h3 {
  font-weight: bolder;
}

p{
  font-size: 18px;
}

.well{
  margin: 5px;
  background-color: #fff !important;
}

.form-group label{
  font-weight: bolder !important;
}

.form-group text, .form-group textarea{
  font-weight: lighter !important;
}

#home_content, #addevent_content, #about_content {
  margin-bottom: 100px;
  opacity: 0.9;
}

#welcome_text {
  margin-top: 5%;
}

#about_us_text {
  width: 75%;
  margin: 10%;
}

#welcome_img{
  margin-top: 5%;
  width: 100%;
}

#logo_img{
  width: 30%;
}

/*
-----------------------------------------------
Navigation bar
-----------------------------------------------
*/

.navbar {
  background-color: #103f54;
  z-index: 9999;

  #event_form{

    }font-weight: lighter
   !important;
  letter-spacing: 0.1em !important;
  font-size: 1.5em !important;
  word-spacing: 0.2em !important;
  font-family: Montserrat !important;
  border: 0;
  padding: 1em;
  margin-bottom: 1em;
}

.navbar li a {
  margin: 0.2em;
}

.navbar li a, .navbar .navbar-brand {
  background-color: #103f54 !important;
  color: #fff !important;
}

.navbar-nav li:hover a {
  background-color: #fff !important;
  color: #103f54 !important;
}

.navbar-nav li.active a {
  background-color: #fff !important;
  color: #b71c1c !important;
}

.navbar-toggle {
  border-color: transparent;
}

.navbar .navbar-brand {
  font-size: 2em !important;
}

/*
-----------------------------------------------
Footer
-----------------------------------------------
*/

#footer {
  background-color: #103f54;
  width: 100%;
  color: #fff;
  position: fixed;
  bottom: 0;
  padding: 1em;
}
