<div class="container-fluid" id="intro">
  <div class="mask rgba-black-light d-flex justify-content-center align-items-center text-white">

    <div class="container">
      <div class="row wow fadeIn">
        <div class="col-md-12 text-center">
          <h1 class="display-4 font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInUp">Mora Events</h1>
          <h5 class="pt-md-5 pt-sm-2 pt-5 pb-md-5 pb-sm-3 pb-5 wow fadeInUp" data-wow-delay="0.2s">
            Struggling to keep a
            track of your favourite events
            happening at UOM?
            Let us guide you through.... </h5>
          <div class="wow fadeInUp" data-wow-delay="0.4s">
            <a mdbBtn color="success" mdbWavesEffect><i class="fas fa-user left"></i> Get Started!</a>
            <a mdbBtn color="success" outline="true" routerLink="/events" mdbWavesEffect><i
                class="fas fa-calendar-alt left"></i>
              View Events</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="card card-image jumbo">
  <div class="text-white text-center py-5 px-4 my-5">
    <div>
      <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>
          About
        </strong></h2>
      <p class="mx-5 mb-5 para">
        Over the years University of Moratuwa has produced a number of outstanding professionals who have made an
        immense contribution to the nation. UOM further extends its service to the society by offering a wide rage extra
        curricular activities and events for its under graduates which would ultimately build well balanced
        personalities.
      </p>
      <p class="mx-5 mb-5 para">
        MoraEvents keeps you updated with various events, competitions and other programmes organized by the
        undergraduates of UOM. Moreover it creates a platform where the organizers can actively interact with all the
        interested parties.
      </p>
    </div>
  </div>
</div>


<div id="services" class="container-fluid text-center">
  <div class="row">

    <div class='col-lg-3'>
      <div>
        <span class='fas fa-calendar-alt logo'></span>
        <h4>TRACK EVENTS</h4>
        <p>Easily track new events</p>
      </div>
    </div>

    <div class='col-lg-3'>
      <div>
        <span class='fas fa-map-pin logo'></span>
        <h4>PIN EVENTS</h4>
        <p>Pin an Event add reminders</p>
      </div>
    </div>

    <div class='col-lg-3'>
      <div>
        <span class='fas fa-broadcast-tower logo'></span>
        <h4>REAL TIME</h4>
        <p>With real time updates</p>
      </div>
    </div>

    <div class='col-lg-3'>
      <div>
        <span class='fas fa-mobile logo'></span>
        <h4>MOBILE APPS</h4>
        <p>Mobile apps in both iOS and Android</p>
      </div>
    </div>
  </div>
</div>
